{# Account edit page. #}

{% extends 'base.html' %}

{% block head_title %}Edit account {{ account['email'] }}{% end %}

{% block body_title %}Edit account {{ account['email'] }}{% end %}

{% block content %}
<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md">
    <form action="{{ reverse_url('account', account['email']) }}"
          role="form"
          method="GET">
      <button type="submit" class="btn btn-default w-100">Cancel</button>
    </form>
  </div>
</div>
<div class="card mt-2">
  <div class="card-body">
    <form action="{{ reverse_url('account_edit', account['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          All fields must be filled in.
        </div>
      </div>
      <div class="row form-group">
        <label for="email" class="col-md-2 col-form-label">Email</label>
        <div class="col-md-10">
          <input type="email" class="form-control-plaintext" id="email"
                 aria-describedby="emailHelp" value="{{ account['email'] }}">
          <small id="emailHelp" class="form-text text-muted">
            Your email address. This is your account identifier.
            It cannot be changed.
            <br>
            If your email has changed, register a new account, and ask
            the {{ settings['SITE_NAME'] }} to transfer your credit.
            See the <a href="{{ reverse_url('about') }}">About</a> page.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="name" class="col-md-2 col-form-label">Name</label>
        <div class="col-md-10">
          <input type="text" class="form-control" required
                 name="name" id="name"
                 aria-describedby="nameHelp" value="{{ account['name'] }}">
          <small id="nameHelp" class="form-text text-muted">
            Your first and last name.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="phone" class="col-md-2 col-form-label">Phone</label>
        <div class="col-md-10">
          <input type="text" class="form-control" required
                 name="phone" id="phone"
                 aria-describedby="phoneHelp" value="{{ account['phone'] }}">
          <small id="phoneHelp" class="form-text text-muted">
            Your phone number.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="address" class="col-md-2 col-form-label">Address</label>
        <div class="col-md-10">
          <input type="text" class="form-control" required
                 name="address" id="address"
                 aria-describedby="addressHelp"
                 value="{{ account['address'] }}">
          <small id="addressHelp" class="form-text text-muted">
            Your address (floor, building affiliation, etc).
          </small>
        </div>
      </div>
      {% if is_admin and current_user['email'] != account['email'] %}
      <div class="row form-group">
        <label for="address" class="col-md-2 col-form-label">Role</label>
        <div class="col-md-10">
          {% for role in constants.ROLES %}
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="role" id="role_{{ role }}"
                   {{ role == account['role'] and 'checked' or '' }}
                    value="{{ role }}">
            <label class="form-check-label" for="role_{{ role }}">
              {{ role }}
            </label>
          </div>
          {% end %}
        </div>
      </div>
      {% end %}
      <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" class="btn btn-secondary">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% end %} {# block content #}
