{# Member account page. #}

{% extends 'base.html' %}

{% block head_title %}Account {{ member['email'] }}{% end %}

{% block body_title %}Account <small>{{ member['email'] }}</small>{% end %}

{% block content %}
<h5 class="my-4">
  Current balance: {% module Money(member['balance'], padding=0) %}
</h5>

{% include 'events_list.html' %}

<div class="row mt-4">
  <div class="col-md">
    <form action="{{ reverse_url('account', member['email']) }}"
          class="form-inline"
          role="form"
          method="GET">
      <label for="from" class="my-1 mr-2">From</label>
      <input type="text" name="from" id="from"
             class="form-control datepicker my-1 mr-sm-2"
             placeholder="From" value="{{ from_ or '' }}">
      <label for="to" class="my-1 mr-2">to</label>
      <input type="text" name="to" id="to"
             class="form-control datepicker my-1 mr-sm-2"
             placeholder="To" value="{{ to or '' }}">
      <button type="submit" class="btn btn-primary btn my-1">View</button>
    </form>
  </div>
</div>
{% end %} {# block content #}

{% include 'events_list_javascript.html' %}
