{# Member accounts page. #}

{% extends 'base.html' %}

{% block head_title %}Accounts {{ member['email'] }}{% end %}

{% block body_title %}Accounts <small>{{ member['email'] }}</small>{% end %}

{% block content %}
<h5 class="my-4">
  Current balance: {% module Money(get_balance(member), padding=0) %}
</h5>
{% include 'events_list.html' %}
<p>
  {% if all %}
  <a href="{{ reverse_url('accounts', member['email']) }}"
     class="btn btn-primary btn-sm">Show recent events</a>
</p>
{% else %}
<p class="mt-4 mb-1">
  Max {{ settings['DISPLAY_ACCOUNTS_EVENTS'] }} events shown.
</p>
<p>
  <a href="{{ reverse_url('accounts_all', member['email']) }}"
     class="btn btn-primary btn-sm">Show all events</a>
</p>
{% end %}
{% end %} {# block content #}

{% block javascript %}
{% if all%}
<script>
  $(function() {
    $("#events").DataTable( {
      "pagingType": "full_numbers",
      "order": [[ 4, "desc"]],
    });
  });
</script>
{% end %} {# if all #}
{% end %} {# block javascript #}
