{# Page for accounts having made credit-affecting purchases recently. #}

{% extends 'base.html' %}

{% block head_title %}Activity{% end %}

{% block body_title %}
Activity 
<small>Accounts active in the last {{ settings['ACTIVITY_CUTOFF'] }} days</small>
{% end %}

{% block content %}
<div class="row my-4">
  <div class="col-md">
    <table id="accounts" class="table table-sm">
      <thead>
        <th scope="col"></th>
        <th scope="col">Account</th>
        <th scope="col">Name</th>
        <th scope="col">Credit ({{ currency }})</th>
        <th scope="col">Activity</th>
      </thead>
      <tbody>
        {% for account in accounts %}
        <tr>
          <td>
            <a href="{{ reverse_url('repayment', account['email']) }}"
               class="btn btn-sm btn-warning"
               role="button" target="_blank">Repay</a>
          </td>
          <td>
            <a href="{{ reverse_url('account', account['email']) }}">
              {{ account['email'] }}</a>
          </td>
          <td>{{ account['name'] }}</td>
          <td>{% module Money(get_credit(account), currency=False) %}</td>
          <td>
            <span class="localtime small">{{ account['activity'] }}</span>
          </td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %} {# block content #}

{% block javascript %}
<script>
  $(function() {
    $("#accounts").DataTable( {
      "pagingType": "full_numbers",
      "order": [[ 4, "desc"]],
    });
  });
</script>
{% end %} {# block javascript #}
