{# Page for members having made credit-affecting purchases recently. #}

{% extends 'base.html' %}

{% block head_title %}Active members{% end %}

{% block body_title %}
Active members
<small>in the last {{ settings['DISPLAY_ACTIVITY_DAYS'] }} days</small>
{% end %}

{% block content %}
<div class="row my-4">
  <div class="col-md">
    <table id="members" class="table table-sm">
      <thead>
        <th scope="col"></th>
        <th scope="col">Member</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Balance ({{ currency }})</th>
        <th scope="col">Activity</th>
      </thead>
      <tbody>
        {% for member in members %}
        <tr>
          <td>
            <a href="{{ reverse_url('repayment', member['email']) }}"
               class="btn btn-sm btn-warning"
               role="button" target="_blank">Repay</a>
          </td>
          <td>
            <a href="{{ reverse_url('member', member['email']) }}">
              {{ member['email'] }}</a>
          </td>
          <td>{{ member['first_name'] }}</td>
          <td>{{ member['last_name'] }}</td>
          <td>{% module Money(get_balance(member), currency=False) %}</td>
          <td>
            <span class="localtime small">{{ member['activity'] }}</span>
          </td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %} {# block content #}

{% block javascript %}
<script>
  $(function() {
    $("#members").DataTable( {
      "pagingType": "full_numbers",
      "order": [[ 5, "desc"]],
    });
  });
</script>
{% end %} {# block javascript #}
