{# List of events in table; to be included.
   Requires 'events' list and 'show_event_link' and 'show_member_col' flags.
   Also include 'events_list_javascript.html'!
#}

<table class="table table-sm" id="events">
  <thead>
    <tr>
      <th scope="col" class="break">Event</th>
      {% if show_member_col %}
      <th scope="col">Member</th>
      {% end %}
      <th scope="col" class="break">Description</th>
      <th scope="col" class="break">Credit  ({{ settings['CURRENCY'] }})</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% set store = {} %}
    {% for event in events %}
    <tr class="{% module Step(event['log']['date'], ['table-active', 'table-light'], store) %}">
      <td class="break">
        {% if show_event_links %}
        <a href="{{ reverse_url('event', event['_id']) }}">
          {{ event['action'] }}</a>
        {% else %}
        {{ event['action'] }}
        {% end %}
      </td>
      {% if show_member_col %}
      <td>
        {% if event['member'] == constants.BEERCLUB %}
        {{ event['member'] }}
        {% else %}
        <a href="{{ reverse_url('member', event['member']) }}">
          {{ event['member'] }}</a>
        {% end %}
      </td>
      {% end %}
      <td>
        {{ event.get('beverage') or '' }}
        {{ event.get('description') or '' }}
      </td>
      <td>{% module Money(event['credit'], currency=False) %}</td>
      <td class="localtime small break">{{ event['log']['timestamp'] }}</td>
    </tr>
    {% end %} {# for event in events #}
  </tbody>
</table>
