{# List of events in table; to be included. #}

<table class="table table-sm" id="events">
  <thead>
    <tr>
      <th scope="col">Event</th>
      {% if is_admin %}
      <th scope="col">Member</th>
      {% end %}
      <th scope="col">Description</th>
      <th scope="col">Credit ({{ settings['CURRENCY'] }})</th>
      <th scope="col">Date</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% set store = {} %}
    {% for event in events %}
    <tr class="{% module Step(event['log']['date'], ['table-active', 'table-light'], store) %}">
      <td>
        {% if is_admin %}
        <a href="{{ reverse_url('event', event['_id']) }}">
          {{ event['action'] }}</a>
        {% else %}
        {{ event['action'] }}
        {% end %}
      </td>
      {% if is_admin %}
      <td>
        {% if event['member'] == constants.BEERCLUB %}
        {{ event['member'] }}
        {% else %}
        <a href="{{ reverse_url('account', event['member']) }}">
          {{ event['member'] }}</a>
        {% end %}
      </td>
      {% end %}
      <td width="40%">
        {{ event.get('beverage') or '' }}
        {{ event.get('description') or '' }}
      </td>
      <td>{% module Money(event['credit'], currency=False) %}</td>
      <td>{{ event.get('date') or event['log']['timestamp'].split('T')[0] }}</td>
      <td class="localtime small text-nowrap">{{ event['log']['timestamp'] }}</td>
    </tr>
    {% end %} {# for event in events #}
  </tbody>
</table>
<div class="row mt-3">
  <div class="col-md">
    <form action="{{ request.uri }}"
          class="form-inline"
          role="form"
          method="GET">
      <label for="from" class="my-1 mr-2">From</label>
      <input type="text" name="from" id="from" size="10"
             class="form-control datepicker my-1 mr-sm-2"
             placeholder="From" value="{{ from_ or '' }}">
      <label for="to" class="my-1 mr-2">to</label>
      <input type="text" name="to" id="to" size="10"
             class="form-control datepicker my-1 mr-sm-2"
             placeholder="To" value="{{ to or '' }}">
      <button type="submit" class="btn btn-secondary btn my-1">Reload</button>
    </form>
  </div>
</div>
