{# Account history page. #}

{% extends 'base.html' %}

{% block head_title %}History{% end %}

{% block body_title %}
History 
<a href="{{ reverse_url('account', account['email']) }}">
  {{ account['email'] }}</a>
<small>{{ all and 'All events' or 'Recent events' }}</small>
{% end %}

{% block content %}
{% if all %}
<div class="row my-4">
  <div class="col-md-8">
    <h5>Current credit: {% module Money(get_credit(account), padding=0) %}</h5>
  </div>
  <div class="col-md">
    <a href="{{ reverse_url('history', account['email']) }}"
       class="btn btn-primary">Show recent events</a>
  </div>
</div>
{% else %}
<div class="row my-4">
  <div class="col-md-8">
    <h5>Current credit: {% module Money(get_credit(account), padding=0) %}</h5>
  </div>
  <div class="col-md">
    <a href="{{ reverse_url('history_all', account['email']) }}"
       class="btn btn-primary">Show all events</a>
    </form>
  </div>
</div>
{% end %} {# if all #}
<div class="row mt-4">
  <div class="col-md">
    {% include 'events_list.html' %}
  </div>
</div>
{% if not all %}
<p>Max {{ settings['DISPLAY_MAX_HISTORY'] }} events shown.</p>
{% end %}
{% end %} {# block content #}

{% block javascript %}
{% if all%}
<script>
  $(function() {
    $("#events").DataTable( {
      "pagingType": "full_numbers",
      "order": [[ 4, "desc"]],
    });
  });
</script>
{% end %} {# if all #}
{% end %} {# block javascript #}
