{# Account history page. #}

{% extends 'base.html' %}

{% block head_title %}Account {{ account['email'] }} history{% end %}

{% block body_title %}
Account
<a href="{{ reverse_url('account', account['email']) }}">
  {{ account['email'] }}</a>
 history
{% end %}

{% block content %}
{% if all %}
<div class="row mb-4">
  <div class="col-md">
    <h5>All events</h5>
  </div>
  <div class="col-md">
    <form action="{{ reverse_url('history', account['email']) }}"
          role="form"
          method="GET">
      <input type="hidden" name="all" value="false">
      <button type="submit" class="btn btn-info">
        The most recent {{ settings['HISTORY_LIMIT'] }} events.
      </button>
    </form>
  </div>
  <div class="col-md">
    <h5>Current credit: {% module Credit(account) %}</h5>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md">
    <h5>The most recent {{ settings['HISTORY_LIMIT'] }} events.</h5>
  </div>
  <div class="col-md">
    <form action="{{ reverse_url('history', account['email']) }}"
          role="form"
          method="GET">
      <input type="hidden" name="all" value="true">
      <button type="submit" class="btn btn-info">All events</button>
    </form>
  </div>
  <div class="col-md">
    <h5>Current credit: {% module Credit(account) %}</h5>
  </div>
</div>
{% end %} {# if all #}
<table class="table table-sm mt-4" id="events">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Specification</th>
      <th scope="col">Payment</th>
      <th scope="col">Credit change</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% set store = {} %}
    {% for event in events %}
    <tr class="{% module Step(event['log']['date'], ['table-active', 'table-light'], store) %}">
      <td>
        <a href="{{ reverse_url('event', event['_id']) }}">
          {{ event['action'] }}</a>
      </td>
      <td>{{ event.get('beverage') or '-' }}</td>
      <td>{{ event.get('payment') }}</td>
      <td class="text-monospace">{{ event['credit'] }}</td>
      <td class="localtime">{{ event['log']['timestamp'] }}</td>
    </tr>
    {% end %} {# for event in events #}
  </tbody>
</table>
{% end %} {# block content #}

{% block javascript %}
{% if all%}
<script>
  $(function() {
    $("#events").DataTable( {
      "pagingType": "full_numbers",
    });
  });
</script>
{% end %} {# if all #}
{% end %} {# block javascript #}
