{# Home page for login. #}

{% extends 'home_base.html' %}

{% block content %}
<div class="card border-primary mt-3">
  <div class="card-header text-white bg-primary">
    Sign in if you are already a member.
  </div>
  <div class="card-body">
    <form action="{{ reverse_url('login') }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <div class="row form-group">
        <label for="emailLogin" class="col-md-2 col-form-label">Email</label>
        <div class="col-md-10">
          <input type="email" class="form-control" required
                 name="email" id="emailLogin">
        </div>
      </div>
      <div class="row form-group">
        <label for="password" class="col-md-2 col-form-label">Password</label>
        <div class="col-md-10">
          <input type="password" class="form-control" required
                 name="password" id="password">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card border-warning mt-3">
  <div class="card-header text-white bg-warning">
    Reset password if you have forgotten it.
  </div>
  <div class="card-body">
    <form action="{{ reverse_url('reset') }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <div class="row form-group">
        <label class="col-md-2 col-form-label" for="emailReset">Email</label>
        <div class="col-md-10">
          <input type="email" class="form-control" required
                 name="email" id="emailReset"
                 aria-describedby="emailResetHelp">
          <small id="emailResetHelp" class="form-text text-muted">
            The email address is the identifier for your member account.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" class="btn btn-warning"
                  aria-describedby="resetHelp">Reset</button>
          <small id="resetHelp" class="form-text text-muted">
            A unique link will be sent to your email address. Go to it
            and set your password.
          </small>
        </div>
      </div>
    </form>
  </div>
</div>
  
<div class="card my-3">
  <div class="card-header text-white bg-secondary">
    Register to become a member.
  </div>
  <div class="card-body">
    {% include 'register_form.html' %}
  </div>
</div>
{% end %} {# block content #}
