{# Home page when logged in; payment actions. #}

{% extends 'home_base.html' %}

{% block head_title %}{{ settings['SITE_NAME'] }}{% end %}

{% block body_title %}{{ current_user['email'] }}{% end %}

{% block content %}
<div class="row">
  <div class="col-md">
    {{ beverages_count }} beverages purchased today
 </div>
  <div class="col-md">
    Current credit: {% module Money(get_credit(current_user), padding=0) %}
  </div>
</div>
{% for beverage in settings['BEVERAGE'] %}
<div class="card mt-3 bg-light">
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <h6>I am buying one {{ beverage['label'] }}...</h6>
        <p>Price: {% module Money(beverage['price'], padding=0) %}</p>
      </div>
      <div class="col-md">
        {% for payment in settings['PAYMENT'] %}
        {% set modid = beverage['identifier'] + '_' + payment['identifier'] %}
        <div class="mb-3">
          <button type="button"
                  class="btn btn-{{ payment['style'] }} w-100 shadow"
                  data-toggle="modal" data-target="#{{ modid }}Modal">
            {{ payment['action'] }}
          </button>
          <div class="modal fade" id="{{ modid }}Modal"
               tabindex="-1" role="dialog"
               aria-labelledby="{{ modid }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form action="{{ reverse_url('purchase') }}"
                      role="form"
                      method="POST">
                  {% module xsrf_form_html() %}
                  <input type="hidden" name="beverage" 
                         value="{{ beverage['identifier']}}">
                  <input type="hidden" name="payment"
                         value="{{ payment['identifier'] }}">
                  <div class="modal-body">
                    <h6 id="{{ modid }}Label">
                      {{ payment['description'] % beverage['label'] }}
                    </h6>
                    <p>
                      It costs {% module Money(beverage['price'], padding=0) %}.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% end %}
      </div>
    </div>
  </div>
</div>
{% end %}
{% end %} {# block content #}

{% block footer_payment %}
<h4>How to pay your debt</h4>
{% if settings['PAYMENT_INFO_HTML'] %}
{% raw settings['PAYMENT_INFO_HTML'] %}
{% else %}
<i>No payment information available.</i>
{% end %}
{% end %} {# block footer_payment #}
