{# Ledger page. #}

{% extends 'base.html' %}

{% block head_title %}Ledger{% end %}

{% block body_title %}Ledger for {{ settings['SITE_NAME'] }}{% end %}

{% block content %}
{% include 'balance_row.html' %}
<div class="row mt-4">
  <div class="col-md">
    {% include 'events_list.html' %}
  </div>
</div>
{% end %} {# block content #}

{% block actions %}
<div class="md-2">
  <form action="{{ reverse_url('ledger_csv') }}"
        role="form"
        method="GET">
    <input type="hidden" name="from" value="{{ from_ or '' }}">
    <input type="hidden" name="to" value="{{ to or '' }}">
    <button type="submit" class="btn btn-dark btn my-1">CSV file</button>
  </form>
</div>
{% end %}

{% block javascript %}
{% include 'events_list_javascript.html' %}
{% end %}
