{# Load payments page. #}

{% extends 'base.html' %}

{% block head_title %}Load Swish payments file{% end %}

{% block body_title %}Load Swish payments file{% end %}

{% block content %}
{% if missing %}
<p class="text-danger">Missing Swish numbers:</p>
<pre>{{ '\n'.join(missing) }}</pre>
<p class="text-danger">No data from file was loaded.</p>
{% end %}
<div class="card mt-2">
  <div class="card-body">
    <form action="{{ reverse_url('load') }}"
          enctype="multipart/form-data"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <div class="row form-group">
        <label for="xlsxfilefield"
               class="col-md-2 col-form-label">Swish XLSX file</label>
        <div class="col-md-10">
          <div id="xlsxfilefield" class="custom-file">
            <input type="file" name="xlsxfile" id="xlsxfile"
                   class="custom-file-input"
                   aria-describedby="xlsxfileHelp">
            <label class="custom-file-label" for="xlsxfile">Choose file</label>
            <small id="xlsxfileHelp" class="form-text text-muted">
              The Swish payments file in XLSX format.
            </small>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label for="header_cell" class="col-md-2 col-form-label">
          Content of first cell in header
        </label>
        <div class="col-md-5">
          <input type="text" name="header_cell" id="header_cell"
                 class="form-control"
                 aria-describedby="header_cellHelp"
                 value="Bokföringsdatum">
          <small id="header_cellHelp" class="form-text text-muted">
            <strong>Required.</strong>
            The content of the first cell in the header record.
            All subsequent records in the XLSX file are assumed to
            contain data.
            <br>
            The defaults below are appropriate for an XLSX file of Swish
            payments from the Swedish bank SEB.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="swish_pos" class="col-md-2 col-form-label">
          Swish number column
        </label>
        <div class="col-md-5">
          <input type="number" name="swish_pos" id="swish_pos"
                 class="form-control"
                 aria-describedby="swish_posHelp"
                 value="6">
          <small id="swish_posHelp" class="form-text text-muted">
            <strong>Required.</strong>
            The number of the column containing the Swish number.
            The first column is number 1.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="amount_pos" class="col-md-2 col-form-label">
          Amount column
        </label>
        <div class="col-md-5">
          <input type="number" name="amount_pos" id="amount_pos"
                 class="form-control"
                 aria-describedby="amount_posHelp"
                 value="4">
          <small id="amount_posHelp" class="form-text text-muted">
            <strong>Required.</strong>
            The number of the column containing the amount in SEK.
            The first column is number 1.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="date_pos" class="col-md-2 col-form-label">
          Date column
        </label>
        <div class="col-md-5">
          <input type="number" name="date_pos" id="date_pos"
                 class="form-control"
                 aria-describedby="date_posHelp"
                 value="2">
          <small id="date_posHelp" class="form-text text-muted">
            The number of the column containing the date in ISO format.
            The current date is used if not given.
            The first column is number 1.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="name_pos" class="col-md-2 col-form-label">
          Name column
        </label>
        <div class="col-md-5">
          <input type="number" name="name_pos" id="name_pos"
                 class="form-control"
                 aria-describedby="name_posHelp"
                 value="7">
          <small id="name_posHelp" class="form-text text-muted">
            The number of the column containing the name of the payer.
            The first column is number 1.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" class="btn btn-warning">Load file</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% end %} {# block content #}

{% block javascript %}
<script>
  $(function(){ $("#file").focus(); });
</script>
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% end %}
