{# Members page. #}

{% extends 'base.html' %}

{% block head_title %}Members{% end %}

{% block body_title %}Members{% end %}

{% block content %}
<div class="row my-4">
  <div class="col-md">
    <table id="members" class="table table-sm">
      <thead>
        <th scope="col"></th>
        <th scope="col">Member</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Balance ({{ settings['CURRENCY'] }})</th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th scope="col">Last login</th>
      </thead>
      <tbody>
        {% for member in members %}
        <tr>
          <td>
            <a href="{{ reverse_url('payment', member['email']) }}"
               target="_blank">
              <span class="badge badge-warning">Payment</span>
            </a>
          </td>
          <td>
            <a href="{{ reverse_url('member', member['email']) }}"
              class="break">
              {{ member['email'] }}</a>
          </td>
          <td>{{ member['first_name'] }}</td>
          <td>{{ member['last_name'] }}</td>
          <td>{% module Money(member['balance'], currency=False) %}</td>
          <td>{% module Role(member) %}</td>
          <td>{% module Status(member) %}</td>
          <td>{% module LastLogin(member) %}</td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %} {# block content #}

{% block actions %}
<div class="md-2">
  <form action="{{ reverse_url('members_csv') }}"
        role="form"
        method="GET">
    <button type="submit" class="btn btn-dark btn my-1">CSV file</button>
  </form>
</div>
{% end %}

{% block javascript %}
<script>
  $(function() {
    $("#members").DataTable( {
      "pagingType": "full_numbers",
      "order": [[ 7, "desc"]],
    });
  });
</script>
{% end %} {# block javascript #}
