{# Member page. #}

{% extends 'base.html' %}

{% block head_title %}Member {{ member['email'] }}{% end %}

{% block body_title %}Member <small>{{ member['email'] }}</small>{% end %}

{% block content %}
<div class="row">
  <div class="col-md-2">
    <a href="{{ reverse_url('account', member['email']) }}"
       role="button" class="btn btn-info w-100">Account</a>
  </div>
  {% if is_admin %}
  {% if member['status'] == constants.ENABLED %}
  <div class="col-md-2">
    <a href="{{ reverse_url('payment', member['email']) }}"
       role="button" class="btn btn-warning w-100">Payment</a>
  </div>
  {% end %}
  <div class="col-md-2">
    <a href="{{ reverse_url('settings', member['email']) }}"
       role="button" class="btn btn-primary w-100">Settings</a>
  </div>
  {% if member['status'] != constants.DISABLED and member['email'] != current_user['email']%}
  <div class="col-md-2">
    <form action="{{ reverse_url('disable', member['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <button type="submit" class="btn btn-danger w-100">Disable</button>
    </form>
  </div>
  {% end %}
  {% if member['status'] != constants.ENABLED %}
  <div class="col-md-2">
    <form action="{{ reverse_url('enable', member['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <button type="submit" class="btn btn-success w-100">Enable</button>
    </form>
  </div>
  {% end %}
  {% if member['status'] != constants.ARCHIVED %}
  <div class="col-md-2">
    <form action="{{ reverse_url('archive', member['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <button type="submit" class="btn btn-secondary w-100">Archive</button>
    </form>
  </div>
  {% end %}
  {% if deletable %}
  <div class="col-md-2">
    <form action="{{ reverse_url('member', member['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <input type="hidden" name="_http_method" value="DELETE">
      <button type="submit" class="btn btn-danger w-100"
              onclick="return confirm('Really delete this member?');">
        Delete</button>
    </form>
  </div>
  {% end %}
  {% end %} {# if is_admin #}
</div>
<table class="table mt-4">
  <tbody>
    <tr>
      <th scope="row">Balance</th>
      <td>{% module Money(member['balance'], padding=0) %}</td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td>{{ member['first_name'] }} {{ member['last_name'] }}</td>
    </tr>
    {% if settings['MEMBER_SWISH'] %}
    <tr>
      <th scope="row">Swish</th>
      <td>{{ member.get('swish') or '-' }}</td>
    </tr>
    {% end %}
    {% if settings['MEMBER_ADDRESS'] %}
    <tr>
      <th scope="row">Address</th>
      <td>{{ member.get('address') or '-' }}</td>
    </tr>
    {% end %}
    <tr>
      <th scope="row">Status</th>
      <td>{% module Status(member) %}</td>
    </tr>
    {% if member['role'] == constants.ADMIN %}
    <tr>
      <th scope="row">API key</th>
      <td>{{ member.get('api_key') or '-' }}</td>
    </tr>
    {% end %}
    <tr>
      <th scope="row">Role</th>
      <td>{% module Role(member) %}</td>
    </tr>
    <tr>
      <th scope="row">Last login</th>
      <td>{% module LastLogin(member) %}</td>
    </tr>
  </tbody>
</table>
{% end %} {# block content #}
