{# Member page. #}

{% extends 'base.html' %}

{% block head_title %}Member {{ member['email'] }}{% end %}

{% block body_title %}Member {{ member['email'] }}{% end %}

{% block content %}
<div class="row">
  <div class="col-md">
  </div>
  <div class="col-md-2">
    <a href="{{ reverse_url('history', member['email']) }}"
       role="button" class="btn btn-secondary w-100">History</a>
  </div>
  {% if is_admin %}
  <div class="col-md-2">
    <form action="{{ reverse_url('repayment', member['email']) }}"
          role="form"
          method="GET">
      <button type="submit" class="btn btn-warning w-100">Repay</button>
    </form>
  </div>
  {% end %} {# if is_admin #}
  <div class="col-md-2">
    <a href="{{ reverse_url('member_edit', member['email']) }}"
       role="button" class="btn btn-primary w-100">Edit</a>
  </div>
  {% if is_admin and member['email'] != current_user['email'] %}
  {% if member['status'] == constants.ENABLED %}
  <div class="col-md-2">
    <form action="{{ reverse_url('disable', member['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <button type="submit" class="btn btn-danger w-100">Disable</button>
    </form>
  </div>
  {% else %}
  <div class="col-md-2">
    <form action="{{ reverse_url('enable', member['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <button type="submit" class="btn btn-success w-100">Enable</button>
    </form>
  </div>
  {% end %} {# if member['status'] == ... #}
  {% end %} {# if is_admin and ... #}
</div>
<table class="table mt-4">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{ member['name'] }}</td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td>{{ member['phone'] }}</td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td>{{ member['address'] }}</td>
    </tr>
    <tr>
      <th scope="row">Credit</th>
      <td>{% module Money(get_credit(member), padding=0) %}</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>{% module Status(member) %}</td>
    </tr>
    <tr>
      <th scope="row">Role</th>
      <td>{% module Role(member) %}</td>
    </tr>
    <tr>
      <th scope="row">Last login</th>
      <td>{% module LastLogin(member) %}</td>
    </tr>
  </tbody>
</table>
{% end %} {# block content #}
