{# Set password page. #}
{% extends "base.html" %}

{% block head_title %}Set password{% end %}
{% block body_title %}Set password{% end %}

{% block content %}
<form action="{{ reverse_url('password') }}"
      role="form"
      method="POST">
  {% module xsrf_form_html() %}
  <div class="row form-group">
    <label class="col-md-2 col-form-label" for="email">Email</label>
    <div class="col-md-10">
      <input type="email" class="form-control" 
             name="email" id="email"
             aria-describedby="emailHelp" value="{{ email }}">
      <small id="emailHelp" class="form-text text-muted">
        The email address is the identifier for your member account.
      </small>
    </div>
  </div>
  <div class="row form-group">
    <label class="col-md-2 col-form-label" for="password">Password</label>
    <div class="col-md-10">
      <input type="password" class="form-control" 
             name="password" id="password"
             aria-describedby="passwordHelp">
      <small id="passwordHelp" class="form-text text-muted">
        The new password; must be at least {{ settings['MIN_PASSWORD_LENGTH'] }}
        characters long.
      </small>
    </div>
  </div>
  <div class="row form-group">
    <label class="col-md-2 col-form-label" for="code">Code</label>
    <div class="col-md-10">
      <input type="text" class="form-control" 
             name="code" id="code"
             aria-describedby="codeHelp" value="{{ code }}">
      <small id="codeHelp" class="form-text text-muted">
        The one-time code required to set your password, which has
        been sent to you by email. You may request a new reset code by
        resetting your password again on
        <a href="{{ reverse_url('home') }}">the home page</a>.
      </small>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <button type="submit" class="btn btn-info">Set password</button>
    </div>
  </div>
</form>
{% end %} {# block content #}
