{# Purchase correction page. #}

{% extends 'base.html' %}

{% block head_title %}Purchase on behalf of {{ member['email'] }}{% end %}

{% block body_title %}
Purchase on behalf of
<a href="{{ reverse_url('member', member['email']) }}">
  {{ member['email'] }}</a>
{% end %}

{% block content %}
<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md">
    <a href="{{ reverse_url('member', member['email']) }}"
       role="button" class="btn btn-secondary w-100">Cancel</a>
  </div>
</div>
{% for beverage in settings['BEVERAGE'] %}
<div class="card mt-2">
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <h5>Buying one {{ beverage['label'] }}...</h5>
      </div>
      <div class="col-md">
        {% for purchase in settings['PURCHASE'] %}
        <div class="mb-3">
          <form action="{{ reverse_url('purchase_member', member['email']) }}"
                role="form"
                method="POST">
            {% module xsrf_form_html() %}
            <input type="hidden" name="beverage" 
                   value="{{ beverage['identifier']}}">
            <input type="hidden" name="purchase"
                   value="{{ purchase['identifier'] }}">
            <button type="submit"
                    class="btn btn-{{ purchase['style'] }} w-100 shadow">
              {{ purchase['action'] }}
            </button>
          </form>
        </div>
        {% end %}
      </div>
    </div>
  </div>
</div>
{% end %}
{% end %} {# block content #}
