{# Repayment page. #}

{% extends 'base.html' %}

{% block head_title %}Repayment from {{ member['email'] }}{% end %}

{% block body_title %}Repayment from {{ member['email'] }}{% end %}

{% block content %}
<div class="row">
  <div class="col-md-8">
  </div>
  <div class="col-md">
    <a href="{{ reverse_url('member', member['email']) }}"
       role="button" class="btn btn-secondary w-100">Cancel</a>
  </div>
</div>
<div class="card mt-2">
  <div class="card-body">
    <form action="{{ reverse_url('repayment', member['email']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <div class="row form-group">
        <label for="email" class="col-md-2 col-form-label">Email</label>
        <div class="col-md-10">
          <input type="email" class="form-control-plaintext" id="email"
                 aria-describedby="emailHelp" value="{{ member['email'] }}">
        </div>
      </div>
      <div class="row form-group">
        <label for="payment" class="col-md-2 col-form-label">Payment</label>
        <div class="col-md-10">
          {% for payment in settings['REPAYMENT'] %}
          {% if payment.get('hidden') %}
          {% continue %}
          {% end %}
          <div class="form-check">
            <input class="form-check-input" type="radio"
                   name="payment" id="payment_{{ payment['identifier'] }}"
                   {{ payment.get('default') and 'checked' or '' }}
                   value="{{ payment['identifier'] }}">
            <label class="form-check-label"
                   for="type_{{ payment['identifier'] }}">
              {{ payment['label'] }}
            </label>
          </div>
          {% end %}
        </div>
      </div>
      <div class="row form-group">
        <label for="amount" class="col-md-2 col-form-label">Amount</label>
        <div class="col-md-4">
          <input type="number" step="{{ settings['MONEY_STEP'] }}"
                 class="form-control" name="amount" id="amount"
                 aria-describedby="amountHelp" required>
          <small id="amountHelp" class="form-text text-muted">
            The amount repaid, in {{ settings['CURRENCY'] }}.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <label for="date" class="col-md-2 col-form-label">Date</label>
        <div class="col-md-4">
          <input type="text" class="form-control datepicker"
                 name="date" id="date"
                 aria-describedby="dateHelp"
                 value="{% module Date() %}">
          <small id="dateHelp" class="form-text text-muted">
            The date of the repayment.
          </small>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" class="btn btn-warning">Repay</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% end %} {# block content #}

{% block javascript %}
<script>
  $(function(){ $("#amount").focus(); });
</script>
{% end %}
